html,
body {
  height: 100%;
  font-size: 14px; }

body {
  /* add sorting icons to gridview sort links */
  /* align the logout "link" (button in form) of the navbar */ }
  body .wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px; }
    body .wrap > .container {
      padding: 70px 15px 20px; }
  body .footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px; }
  body .jumbotron {
    text-align: center;
    background-color: transparent; }
    body .jumbotron .btn {
      font-size: 21px;
      padding: 14px 24px; }
  body .not-set {
    color: #c55;
    font-style: italic; }
  body a.asc:after, body a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px; }
  body a.asc:after {
    content: "\e151"; }
  body a.desc:after {
    content: "\e152"; }
  body .sort-numerical a.asc:after {
    content: "\e153"; }
  body .sort-numerical a.desc:after {
    content: "\e154"; }
  body .sort-ordinal a.asc:after {
    content: "\e155"; }
  body .sort-ordinal a.desc:after {
    content: "\e156"; }
  body .grid-view th {
    white-space: nowrap; }
  body .hint-block {
    display: block;
    margin-top: 5px;
    color: #999; }
  body .error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0; }
  body .nav li > form > button.logout {
    padding: 15px;
    border: none; }
  @media (max-width: 767px) {
    body .nav li > form > button.logout {
      display: block;
      text-align: left;
      width: 100%;
      padding: 10px 15px; } }
  body .nav > li > form > button.logout:focus,
  body .nav > li > form > button.logout:hover {
    text-decoration: none; }
  body .nav > li > form > button.logout:focus {
    outline: none; }
  body .sign-in {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box; }
    body .sign-in .flex-content {
      background-color: rgba(36, 36, 41, 0.12);
      padding: 30px 50px; }
      body .sign-in .flex-content h1, body .sign-in .flex-content #login, body .sign-in .flex-content p {
        text-align: center; }
      body .sign-in .flex-content .eauth-list {
        display: flex;
        justify-content: center; }
  body .lessons-form .new-word {
    padding-bottom: 15px; }
  body .lessons-form .new-word, body .lessons-form .new-word-border {
    position: relative; }
  body .lessons-form .new-word-border {
    border: 1px solid rgba(180, 180, 180, 0.22);
    padding: 10px; }
  body .lessons-form .remove-word {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    color: red; }
  body .lessons-form .new-group-hidden {
    display: none; }

/*# sourceMappingURL=site.css.map */
